<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="inputApellido">Apellido</label>
            <input type="text" class="form-control" id="inputApellido" placeholder="apellido">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Direccion</label>
          <input type="text" class="form-control" id="inputDireccion" placeholder="direccion">
        </div>
        <div class="form-group">
          <label for="inputMail">Mail</label>
          <input type="mail" class="form-control" id="inputMail" placeholder="mail">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Ciudad</label>
            <input type="text" class="form-control" id="inputCity" placeholder="ciudad">
          </div>
          <div class="form-group col-md-4">
            <label for="inputProvincia">Provincia</label>
            <input type="text" class="form-control" id="inputCity" placeholder="provincia">
          </div>
          <div class="form-group col-md-2">
            <label for="inputTel">Telefono</label>
            <input type="text" class="form-control" id="inputTel">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</body>
</html>
